
#competences div{
    padding-bottom: 20px;
}

.competences{
    font-size:70px;
}

#projet a{
    border-style: solid;
    border-color: #18BC9C;
}

#align-competences {
    display:flex;
    justify-content:center;
    align-items:center;
}

.intitule {
    font-weight:bold;
    font-size: large;
}

.projet-item {
    margin-top: 20px;
}

.projet-categorie {
    border-style: solid;
    border-color: #18BC9C;
    margin-bottom: 20px;
    background-color: #2C3E50;

}

.nav-tabs-sans-bordure {
    border-bottom: 0px;
}

.cv-item {
    padding: 30px;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #FFF;
    text-align: center;
}
hr:after {
    content: "</>";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.5em;
    padding: 0 0.25em;
    color: white;
    background: #18BC9C;
}

.competence-logo {
    width: 75px;
    height: 75px;
}