/* width */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: blue;
  background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;

  box-sizing: border-box;

}

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
}


a.prev:not([href]):not([tabindex]) {
  color: black;
  text-decoration: none;

}

a.prev:not([href]):not([tabindex]):hover {
  background: #3a50b7;
}

a.next:not([href]):not([tabindex]) {
  color: black;
  text-decoration: none;
}

a.next:not([href]):not([tabindex]):hover {
  background: #3a50b7;
}

.navbar {
  height: 5rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Saira Stencil One', cursive;
  transition: 0.4s;
  font-size: 125%;

}

.navbar h2 {
  font-size: 115%;
}

#navbarNav li {
  padding: 0 10%;
}



.titre1S2 {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.titre2S2 {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.titre3S2 {

  padding-top: 30px;
}

.accueil h2 {
  padding-left: 30px;
}

.paragrapheS2 {
  padding-left: 30px;

}

.ObjectifS2 {
  padding-left: 30px;

}

.image2-couleur {
  /*  border-style: solid; */
  border-color: black;
  background: #29899D;

}

.image2 {
  margin: 10px 10px 10px;
  padding-top: 10px;
}

.column {

  padding-left: 90px;
  padding-bottom: 50px;

}

.image3 {

  padding-left: 90px;
  padding-bottom: 50px;

}

.image4 {

  padding-left: 90px;
  padding-bottom: 50px;

}

.image5 {

  padding-left: 900px;
  bottom: 46px;
  position: absolute;

}


/* image 1 */
//IMPORT THE LIBRARIES
//you can find the libraries in the settings

$thumb-by-row: 8;
$thumb-by-row-tablet: 6;
$thumb-by-row-phone: 3;
$gutter: 10px;
$thumb-background: rgba(31, 163, 191, 0.05);

.photo-gallery {
  padding: 30px 0;

  .photos {
    display: flex;
    flex-wrap: wrap;
  }
}

.square-box {
  position: relative;
  overflow: hidden;
  margin-bottom: $gutter;
  padding: 0 calc(#{$gutter}/ 2);
  width: calc(100% /#{$thumb-by-row});

  @media (max-width: 991.98px) {
    width: calc(100% /#{$thumb-by-row-tablet});
  }

  @media (max-width: 767.98px) {
    width: calc(100% /#{$thumb-by-row-phone});
  }

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
    background-color: $thumb-background;
  }

  .square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 calc(#{$gutter}/ 2);

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      position: relative;
      text-align: center;
      vertical-align: middle;

      img {
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}

/* fin images 1 */

/* image2 */
* {
  box-sizing: border-box;
}

.row>.column {
  padding: 0 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0000009e;
}

/* CSS used here will be applied after bootstrap.css */

.modal8 {
  display: block !important;
}

.modal-dialog8 {
  overflow-y: initial !important
}

.modal-body8 {
  height: 190px;
  background-color: #29899D;
  overflow-y: auto;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 750px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgb(199, 247, 239);

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(71, 38, 218, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
}

.caption-container {
  text-align: center;
  background-color: #29899d00;
  /* padding: 2px 16px; */
  margin-bottom: -15px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*img.hover-shadow {
    transition: 0.3s;
    }*/

/*.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }*/
/* fin image2 */

/* container image connexion*/

/* Responsive layout - makes a one column-layout instead of two-column layout */

/* fin container image connexion */

/* container ecriture connexion */
/*
  .flex-container1 {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

  .flex-container1 > div {
    color: black;
    width:100%;
    margin: 0px;
    text-align: left;
    line-height: 30px;
    font-size: 22px;
  }*/
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-container>div {
  color: black;
  width: 100%;
  margin: 0px;
  text-align: left;
  line-height: 30px;
  font-size: 22px;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

/*
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* fin descend bas  */

/* descend bas fenetre */

.flex-item-left:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-item-right:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.tirer {

  padding-left: 50px;
}