
  
/* Stage.html */
.fade:not(.show) {
    opacity: 1;
}

li a {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: 'PT Serif', serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.23);
}

.active, li a:hover {
    background-color: white;
    color: blue;
   

    
}

.collapsible2 {
    background-color: rgb(198 214 239);
    color: blue;
    border: 1px solid rgb(149 176 218);

}
  
  
  