/* Stage.html */
.fade:not(.show) {
    opacity: 1;
}

li a {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: 'PT Serif', serif;
}

.active,
li a:hover {
    background-color: white;
    color: black;



}

.collapsible2 {
    background-color: rgb(198 214 239);
    color: blue;
    border: 1px solid rgb(149 176 218);

}