body {
   background: #6d6b6b;

   font-family: "Open Sans", sans-serif;
   font-size: 18px;
   position: relative;
   max-width: 100%;
   width: 100%;
   max-height: 100%;
   height: 100%;
}


/* width */
body::-webkit-scrollbar {
   width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
   background: blue;
   background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
   background: #555;
}

* {
   margin: 0;
   padding: 0;
   font-family: 'PT Serif', serif;
   box-sizing: border-box;


}

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}



h1 {
   text-align: center;
   font-weight: 300;
   color: #777
}

h1 span {
   font-weight: 600;
}

.container {
   width: 80%;
   padding: 50px 0;
   margin: 50px auto;
   position: relative;
   overflow: hidden;
}

.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 9999
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666;
   text-align: left;
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;

}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;

}


@media screen and (max-width: 768px) {
   .container:before {
      left: 8px;
      width: 2px;
   }

   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }

   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}